<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel = "stylesheet" href = "/static/css/style.css">
        <title>insta485</title>
    </head>

    <body>
        <header>
            <div class = "header">
                <a href = "/">
                    <img src="/static/images/instagram_logo.jpg" alt="Instagram logo" width = "100" height = "100">
                </a>
                
                <img src = "/static/images/insta485_logo.png" alt = "Insta485 logo" width = "250" height = "100">
                
                <div class = "empty_header"></div>
                
                <div class = "header_text">
                    <a href="/explore/">explore</a> | <a href= "/users/{{logname}}/" > {{ logname }} </a>
                </div>
            
            </div>
        </header>
        
        <main>
            <div class = "profile_username"> {{username}} </div>
            
            {% if username != logname %}
                {% if logname_follows_username %}
                    <h3>following</h3>
                    <form action="/following/?target={{request.path}}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{username}}"/>
                        <input type="hidden" name="operation" value="unfollow"/>
                    </form>

                {% else %}
                    <h3>not following</h3>
                    <form action="/following/?target={{request.path}}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="submit" name="follow" value="follow"/>
                        <input type="hidden" name="username" value="{{username}}"/>
                        <input type="hidden" name="operation" value="follow"/>
                    </form>
                {% endif %}
            
            {% else %}
                <a href = "/accounts/edit/">
                    <h3><b>Edit profile</b></h3>
                </a>
                
                <!-- logout button -->
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" name="logout" value="Logout"/>
                </form>
                
                <!-- upload button -->
                <form action="/posts/?target={{request.path}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="file" name="file" accept="image/*" required/>
                    <input type="submit" name="create_post" value="upload new post"/>
                    <input type="hidden" name="operation" value="create"/>
                </form>

            
            {% endif %}

            <div class = "num_posts">
                {% if total_posts == 1 %}
                    {{total_posts}} post
                {% else %}
                    {{total_posts}} posts
                {% endif %}
            </div>

            <div class = "follow_ratio">
                <a href = "/users/{{username}}/followers/">
                    {% if followers == 1 %}
                        {{followers}} follower
                    {% else %}
                        {{followers}} followers
                    {% endif %}
                </a>                
                <a href = "/users/{{username}}/following/">{{following}} following</a>
            </div>
            <div class = "profile_name">{{fullname}}</div>
            {% if total_posts == 0 %}
                <p>No posts yet.</p>
            {% else %}
            <span class = "profile_posts">
                {% for post in posts %}
                <a href = "/posts/{{post.postid}}/">
                    <img src = "{{post.img_url}}" alt = "post_img">
                </a>
                {% endfor %}
            </span>
            {% endif %}
        </main>

    </body>
</html>